.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  .header__nav-left, .header__nav-right {
    display: flex;
    column-gap: 2rem;
  }
  
  .footer {
    background-color: #D6E9E9;
  }
  .footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: 1rem;
    margin: auto;
  }